/* Areas styles */
.game-box {
  background-color: #bfbfbf;
  width: 350px;
  height: 560px;
  border: solid;
}

/* Blocks styles */
.block {
  background-color: black;
  width: 35px;
  height: 35px;
}
